.header-part{
    height: 576px;
    width: 1440px;
    background-color: #F0FFF0;
}
.navbar{
    background-color: #F0FFF0 !important;
}
.navbar img{
    height: 59px;
    width: 198.07px;
}
.sign-in{
    width: 104px;
    height: 43px;
    background-color: #21b573;
    border-radius: 33px;
    border: none;
}
.ready-to-learn{
    margin-top: 60px;
    color: #fd511a;
}
.any-schedule{
    color: #21b573;
}
.header-paragraph{
    margin-top: 30px;
    margin-bottom: 30px;
}
.button{
    width: 153px;
    height: 43px;
    background-color: #21b573;
    border-radius: 33px;
    border: none;
}